//Variables

// Site Background Colours
$site-white: #fff;
$site-black: #000;
$site-grey: rgba(0, 0, 0, 0.5);
$site-grey-light: #ededef;
$site-transparent-overlay: rgba(0, 0, 0, 0.767);
$site-green: #88a61e;
$site-gold: #d9c06a;

// Site Text Colours
$text-color-white: white;
$text-color-black: #000;
$text-color-dark-grey: #6c757d;
$text-color-green: #88a61e;
$text-color-gold: #d9c06a;
